
.bt-grid {
}
.bt-grid .bt-grid__head {
  background-color: #ffaa33;
  font-weight: bold;
  font-size: 1.2em;
}
.bt-grid .bt-grid__head,
.bt-grid .bt-grid__line {
  padding: 0.5em;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}
